.weather {
  margin: 10px 0 10px;
  min-width: 250px;
  animation: 1s appearance;

  &__date {
    color: #eb6e4b;
  }

  &__city-title {
    margin: 0;
  }

  &__measurement {
    padding: 10px;
  }

  &__current-temp {
    font-size: 30px;
    margin-right: 20px;
    display: inline-block;
    width: 90px;
  }

  &__units {
    font-size: 20px;
    cursor: pointer;
  }

  &__short {
    margin-bottom: 10px;
    display: inline-block;
  }

  &__feels-like {
    display: inline-block;
    width: 110px;
  }

  &__detail {
    display: flex;
    border-left: 1px solid #eb6e4b;
    padding: 5px 0 5px 20px;

    div:first-child {
      width: 120px;
    }
  }
}

.active {
  color: #eb6e4b;
}

.spinner {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@keyframes appearance {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}