<div *ngIf="data; else spinner"  class="weather">
  <app-search (sendSity)="getWeatherBySity($event)"></app-search>

  <div class="weather__info">
    <span class="weather__date">{{currentData | date: 'fullDate'}}</span>
    <h2 class="weather__city-title">{{data.name}}</h2>

    <div class="weather__measurement">
      <span class="weather__current-temp">{{temp}}{{isCelsius ? '°C' : '°F'}}</span>
      <span class="weather__units">
        <span 
          class="weather__celsius" 
          [ngClass]="{'active': isCelsius}"
          (click)="setMeasurement('celsius')"
        >C</span> /
        <span 
          class="weather__fahrenheit" 
          [ngClass]="{'active': !isCelsius}"
          (click)="setMeasurement('fahrenheit')"
        >F</span>
      </span>
    </div>

    <div class="weather__short">
      <b class="weather__feels-like">Feels like {{temp}}{{isCelsius ? '°C' : '°F'}}. </b>
      <b>{{description}}. </b>
    </div>
    
    <div class="weather__detail">
      <div>
        <div>
          <i class="fas fa-location-arrow"></i>
          {{data.wind.speed}}{{isCelsius ? 'm/s' : 'mph'}} {{windDerection}}
        </div>
        <div>Humidity: {{data.main.humidity}}%</div>
        <div>Visibility: {{visibility}}km</div>
      </div>

      <div>
        <div>
          <i class="fas fa-weight"></i>
          {{data.main.pressure}}hPa
        </div>
        <div>Dew point: {{temp_min}}{{isCelsius ? '°C' : '°F'}}</div>
      </div>
    </div>
  </div>
</div>

<ng-template #spinner>
  <div class="spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>